<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAOduRgncisHXWa0SHNvamXcwvgiBBk6l0</string>
	<key>GCM_SENDER_ID</key>
	<string>287447492369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sportscbr</string>
	<key>PROJECT_ID</key>
	<string>projetomobile-35311</string>
	<key>STORAGE_BUCKET</key>
	<string>projetomobile-35311.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287447492369:ios:f26223ee6375166d490eb0</string>
	<key>DATABASE_URL</key>
	<string>https://projetomobile-35311-default-rtdb.firebaseio.com</string>
</dict>
</plist>